<%- include('partials/header.html')  %>

<section class="noticia-destaque">
    <div class="center">
        <div class="img-destaque">
            <div class="img-destaque-overlay">
            </div>
            <div class="title-destaque-descricao">
                <a href="<%= posts[0].slug %>">
                    <h2><%= posts[0].titulo %></h2>
                </a>
                <p>
                    <%- posts[0].descricaoCurta %>...
                </p>
            </div>
            <img src="<%= posts[0].imagem %>" alt="lake">
        </div>
    </div>
</section>

<section class="outras-noticias">
    <div class="title-outras-noticias">
        <h2>Outras Notícias</h2>
        <div class="center">
            <div class="ultimas">
                <%for(let i = 1; i < posts.length; i++) { %>
                <div class="box-ultima-single">
                    <img src="<%= posts[i].imagem %> " alt="noticia">
                    <div class="conteudo-noticia-single">
                        <h3><%= posts[i].categoria %></h3>
                        <h2><%= posts[i].titulo %></h2>
                        <p>
                            <%- posts[i].descricaoCurta %>...
                        </p>
                        <a href="<%= posts[i].slug %>">Saiba mais</a>
                    </div>
                </div>
                <%}%> 
            </div>
            <div class="mais-lidas">
                <h3>Mais lidas</h3>
                <div class="mais-lidas-noticias">
                <%for(let i = 0; i < postsTop.length; i++) { %>
                <div class="mais-lida-noticia-single">
                    <img src="<%= postsTop[i].imagem %>" alt="imagem noticia" />
                    <div class="texto-mais-lida-single">
                        <h4><%= postsTop[i].titulo %> </h4>
                        <p>
                            <%- postsTop[i].descricaoCurta %>... - <span
                                style="font-size: 12px; font-weight: bold"><%= postsTop[i].views %> views</span>
                        </p>
                        <a href="<%= postsTop[i].slug %>">Saiba mais</a>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    </div>
</section>

<%- include('partials/footer.html')  %>
</body>

</html>