<%- include('partials/header.html')  %>

<section class="noticia">
    <div class="center">
        <div class="noticia-single">
            <h2><%= noticia.titulo %> </h2>
            <div class="author-nome">
                <span>Por <%= noticia.autor %></span>
            </div>
            <%- noticia.conteudo %> 
        </div>
        <div class="mais-lidas">
            <h3>Mais lidas</h3>
            <div class="mais-lidas-noticias"> 
                <%for(let i = 0; i < postsTop.length; i++) { %>
                    <div class="mais-lida-noticia-single">
                        <img src="<%= postsTop[i].imagem %>" alt="imagem noticia" />
                        <div class="texto-mais-lida-single">
                            <h4><%= postsTop[i].titulo %> </h4>
                            <p>
                                <%- postsTop[i].descricaoCurta %>... - <span style="font-size: 12px; font-weight: bold"><%= postsTop[i].views %> views</span>
                            </p>
                            <a href="<%= postsTop[i].slug %>">Saiba mais</a>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer.html')  %>
</body>

</html>